<!DOCTYPE html>
<html>
  <head>
    <title>SkillBranch - Задача 2C</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Задача 2C: @username</h1>
    <p>Вывод: <%= result %></p>
  </body>
</html>
